@charset "utf-8";

/* ------------- ブランドごとの設定 -------------- */

:root {
  /*------- 色 ----------*/

  --color-text: #111;
  --color-base: #cfcfcf;
  --color-main: #1a4d8f;
  --color-sub: #f532db;
  --color-accent: #f30713;
  --color-white: #ffffff;
  --color-black: #000000;

  /*-------- フォント ----------*/
  
  --font-ja: "Noto Sans JP", sans-serif;
  --font-en: "Inter", sans-serif;
  
  /*-------- フォントサイズ ----------*/


  --font-size-heading-l: clamp(3.6rem, 5vw, 6.4rem);
  --font-size-heading-m: clamp(2.4rem, 3vw, 3.2rem);
  --font-size-heading-s: clamp(2rem, 2vw, 2.4rem);




  /*------------ レイアウト -------------*/

  --content-width: 1200px;
  --side-padding: 16px;

  /*------------ 余白 ---------------*/

  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 32px;
  --space-lg: 64px;
  --space-xl: 128px;

  /*------------- transition --------------*/

  --transition-base: 0.3s ease;
}

/* -------------- 基本挙動 ---------------- */

html {
    /* ------- 1rem=10pxに調整 -------- */
  font-size: 62.5%;
}

body {
  color: var(--color-text);
  background: var(--color-base);
  font-family: var(--font-ja);
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.04em;

  /* ---- MacやSafari環境で滑らかに ----- */
  -webkit-font-smoothing: antialiased;
}

a {
  display: block;
  transition: all var(--transition-base);
}

/* ----------- hoverできる端末のみの設定 --------------- */

/* @media (hover: hover) {
  a:hover {
    opacity: 0.7;
  }
} */

/* -------------- コピーライト --------------- */
footer small {
    display: block;
    text-align: center;
    padding: 32px 0;
}



/* -------------- 背景 --------------- */
body {
      background-image:
    repeating-linear-gradient(
      to right,
      transparent 0,
      transparent calc(8.333% - 1px),
      rgba(0, 0, 0, 0.08) calc(8.333% - 1px),
      rgba(0, 0, 0, 0.08) 8.333%
    );
}


/* ------------- 共通クラス --------------- */

.heading-l {
  font-size: var(--font-size-heading-l);
  font-weight: 700;
  
}

.heading-m {
  font-size: var(--font-size-heading-m);
  font-weight: 600;
}

.heading-s {
  font-size: var(--font-size-heading-s);
  font-weight: 500;
}










/* --------------- 下層共通 -------------- */
body:not(.index) {
  width: 100%;
}

.fv:not(.index .fv) {
  text-transform: uppercase;
  padding-left: calc(100% / 12);
  width: 100%;
}

.fv:not(.index .fv) h1 {
  font-size: clamp(40px, 7vw, 128px);
  font-weight: 700;
}

main:not(.index-main) {
  width: calc(100% / 12 * 10);
  margin: 0 auto;
}

footer {
  width: 100%;
  margin-top: 128px;
}

.footer-nav {
  width: calc(100% / 12 * 10);
  margin: 32px auto;
}

.footer-nav ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}


.footer-nav ul li:first-child {
  grid-column: span 3;
}

.footer-nav a {
  position: relative;
  text-transform: uppercase;
  font-size: clamp(20px,3vw,48px);
  color: var(--color-text);
  text-align: center;
  line-height: 2.5;
  border: 0.5px solid var(--color-text);
}

.footer-nav a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;

  width: 48px;
  height: 1px;
  background: currentColor;

  transform: translateY(-50%);
  transition: width 0.3s ease;
}

.footer-nav a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;

  width: 8px;
  height: 8px;

  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;

  transform: translateY(-50%) rotate(45deg);
}

.footer-nav a:hover {
  background: var(--color-sub);
  color: var(--color-base);
}



.footer-nav a:not(.footer-nav li:first-child a) {
  border-top: none;
}

.footer-nav li:nth-child(2) a,
.footer-nav li:nth-child(3) a {
  border-right: none;
}

@media (max-width: 767px) {
  .footer-nav ul {
    grid-template-columns: 1fr;
  }

  .footer-nav ul li:first-child {
    grid-column: auto;
  }

  .footer-nav li:nth-child(2) a,
  .footer-nav li:nth-child(3) a {
    border-right: 0.5px solid var(--color-text);
  }

  .footer-nav li:not(:first-child) a {
    border-top: none;
  }
}