@charset "utf-8";

.button-grid {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
    row-gap: 32px;
}

.gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
}