@charset "utf-8";

*,
*::before,
*::after{
	box-sizing: border-box;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,figure,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img {
	border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

img,picture {
	/* 親要素から横幅が飛び出さなくなる指定。画面幅が可変した際に横スクロールが発生してしまうのを回避できる。 */
	max-width: 100%;
	/* 横幅の大きさに合わせてアスペクト比が崩れないように自動で可変する指定。 */
	height: auto;
	vertical-align: bottom;
}

a{
	text-decoration: none;
}

/* clearfix------------------------------- */
.clearfix::after {
	content:"";
	display:block;
	clear:both;
}