@charset "utf-8";

.section-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;
}

.gallery-item {
    width: 100%;
    max-width: 1000px;
    padding: 16px;
}
.gallery-item:nth-child(odd) {
    justify-self: start;
}
.gallery-item:nth-child(even) {
    justify-self: end;
}
@media (max-width: 767px) {

  .gallery-item {
    max-width: none;
    justify-self: stretch;
  }
}



/* ---------- section-001 ----------- */

.section-001 {
    display: grid;
    grid-template-columns:
      minmax(0, 35fr)
      minmax(0, 65fr);
    gap: 64px;
}
.section-001__image {
    background: var(--color-main);
}
.section-001 .heading-sub {
    margin-bottom: 32px;
}
@media (max-width: 767px) {
  .section-001 {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
/* ---------- section-002 ----------- */